*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.box{
    width: 600px;
    height: 200px;
    border: 2px solid black;
    background-color: rgb(29, 151, 151);
}